# .envrc
direnv allow .

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Check if the required version is installed
if [ -z "$(nvm ls "$(< .nvmrc)" | grep 'N/A')" ]; then
  # Node version is installed
  nvm use
else
  # Node version not installed, install it
  nvm install
  nvm use
fi

if [ -f .env ]; then
    source .env
fi